
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
	{{ end }}</title>
	
	   <link href='{{ "css/main.css" | relURL }}' rel='stylesheet' type="text/css" />

		
	{{ block "favicon" . }}
      {{ partial "site-favicon.html" . }}
    {{ end }}

  </head>
  <body>
	<div id="mysite">
    <!-- Code that all your templates share, like a header -->
	
    {{ block "header" . }}
		{{ partial "site-header.html" .}}
	{{ end }}
	
	
	<main class="pb7" role="main">
      {{ block "main" . }}
		<!-- The part of the page that begins to differ between templates -->
		{{ end }}
    </main>
	
    
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
	
	</div>
  </body>
</html>