
{{ define "main" }}
<main>
    <article>
            <h1>{{.Title}}</h1>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        
    </article>
    
	<ul class="article-list">
    <!-- Ranges through content/post/*.md -->
    {{ range .Data.Pages }}
        <li>
			<article class="bb b--black-10 speaker">
				<div class="flex flex-column flex-row-ns">
					{{ if .Params.featured_image }}
					<div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
						<img src="{{ .Params.featured_image }}" class="db speaker-photo" alt="image from {{ .Title }}">
					</div>
					{{ end }}
					
					<h1 class="f3 fw1 athelas mt0 lh-title">
						<a href="{{.Permalink  }}index.html">{{.Title}}
						</a>
					</h1>
					
					<h1>
						{{.Params.description}}
					</h1>
					
					<h2>
						{{.Params.work}}
					</h2>
					
					<p class="contact-info">
						<span class="web">Web: <a href="{{.Params.web}}">{{.Params.web}}</a></span>
						{{ if .Params.twitterlink }}
						<span class="twitter">Twitter: <a href="{{.Params.twitterlink}}">{{.Params.twittertag}}</a></span>
						{{ end }}
					</p>
					
					<h2 class="Summary">Abstract</h2>
					<p>{{ .Params.abstract }}</p>
					
					<h2 class="biography">Biography</h2>
					<p>{{ .Params.biography }}</p>
					
					
				</div>
			</article>

        </li>
    {{ end }}
    </ul>
</main>
{{ end }}