
<!-- sidebar start -->
<aside>
    <div id="sidebar" class="nav-collapse">
        <header>
<div id="logo">
<a href="/" title="UX Day Graz 2017"><img src="/logos/uxd2017-logo.svg"
alt="UX Day Graz 2017 Logo" class="logo"/></a>
</div>
<div id="title">
<h1>UX Day Graz 2017</h1>
<div id="tagline">
UX Day Graz 2017 is a community event for practitioners of user experience, interaction design, and usability in and around Graz, Austria.
</div>
</div>
<div id="uxg-logo">
<a href="https://uxgraz.isds.tugraz.at/" title="UX Graz Community">
<img src="/logos/uxg-logo.svg" alt="UX Graz Logo" class="logo"/></a>
</div>
</header>
		
		<nav id="sitenav">
		<div class="menu">
		<!-- sidebar menu start-->
        <ul class="sidebar-menu">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main.ByWeight }}
              {{ if .HasChildren }}

            <li class="sub-menu{{if $currentPage.HasMenuCurrent "main" . }} active{{end}}">
            <a href="javascript:;" class="">
                {{ .Pre }}
                <span>{{ .Name }}</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                {{ range .Children }}
                <li{{if $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL }}index.html"> {{ .Name }} </a> </li>
                {{ end }}
            </ul>
          {{else}}
            <li>
            <a href="{{.URL }}index.html">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
          {{end}}
          </li>
          {{end}}
        </ul>
        <!-- sidebar menu end-->
		</div>
		</nav>
    </div>
</aside>
<!--sidebar end-->